.App {
  max-width: 800px;
  margin: 30px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}